---
import Title from '../../Layout-Component/topContent.astro'
import { containerGridMaxColumn } from '@recipe'

import { bgImage, ul } from './content.css'

import Li from './index'

export interface ItemProps {
  title: string
  description: string
  iconPath: string
}
const data: ItemProps[] = [
  {
    title: 'book an appointment',
    iconPath: 'url(src/assets/icons/icon-how-it-work-1.svg)',
    description:
      'The goal of our clinic is to provide friendly, caring dentistry and\n' +
      'the highest level of general, cosmetic, ents.',
  },
  {
    title: 'Expert Care',
    iconPath: 'url(src/assets/icons/icon-how-it-work-2.svg)',
    description: 'hhhhhhhhhhgfdlkfdmlk',
  },
  {
    title: 'expert Care',
    iconPath: 'url(src/assets/icons/icon-how-it-work-3.svg)',
    description:
      'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo velit illo atque voluptates ipsam iure cupiditate reprehenderit sint consequatur consequuntur totam eos sapiente nihil consectetur',
  },
]
---

<section
  class:list={[
    bgImage,
    containerGridMaxColumn({
      theme: "darkBlueBanner",
      sizeOfBox: 300,
      background: true,
      size: "medium",
      gap: "sm",
      maxColumn: 2,
      marginBlock: "lg",
      paddingBlock: "lg",
      hover: false
    })
  ]}
>
  <div class="grid place-items-center bg-slate-900/70 mx-4 px-2">
    <Title
      subtitle="how it work"
      PreTitle="What we do for"
      title=" your teeth"
      description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo velit illo atque voluptates ipsam iure cupiditate reprehenderit sint, consequatur consequuntur totam eos sapiente nihil consectetur"
      gap="largeGap"
      textAlign="left"
    />
  </div>
    <ul class={ul}>

      {data.map((element, i) => (
        <Li title={element.title} icon={element.iconPath} description={element.description} />
      ))}
    </ul>

</section>
