---
import { sectionWrapper, wrapper, menBG } from "./image.css";
import { textSprinkles } from "../../../styles/recipe/textSprinkles.css";
import { textRecipe } from "../../../styles/recipe/textRecipe.css";
import { getImage } from "astro:assets";
import men from "@/assets/men.jpg";
const optimizedBackground = await getImage({
  src: men,
  format: "avif",
});

import { assignInlineVars } from "@vanilla-extract/dynamic";
---

<section class={sectionWrapper}>
  <div
    class={wrapper}
    style={assignInlineVars({
      [menBG]: `url(https://www.ober-surfaces.com/cache/images/project/a0a51c55c66ce4f436758b2a4b08c041-jcpcdrparisdentalstudio005_copyrightdavidfoessel-816.jpg)`,
    })}
  >
    <p class={textRecipe({ font: "preTitle", textAlign: "center" })}>
      Visiter La clinique
    </p>
    <h5
      class={textSprinkles({
        fontSize: "lg",
        paddingInline: "lg",
        fontWeight: "bold",
        color: "primary",
        letterSpacing: "wide",
        textAlign: "center",
        fontFamily: "dancingScript",
      })}
    >
      Une clinique moderne avec les derniers équipements pour des soins de
      qualité et moins invasifs.
    </h5>
  </div>
</section>
