---
import { sectionWrapper, wrapper } from './image.css'
import { textSprinkles } from '../../../styles/recipe/textSprinkles.css'
import { textRecipe } from '../../../styles/recipe/textRecipe.css'
---

<section class={sectionWrapper}>
  <div class={wrapper}>
    <p class={textRecipe({ font: "preTitle", textAlign: "center" })}>
      Visiter La clinique
    </p>
    <h5
      class={textSprinkles({
        fontSize: "lg",
        paddingInline: "lg",
        fontWeight: "bold",
        color: "primary",
        letterSpacing: "wide",
        textAlign: "center",
        fontFamily: "dancingScript",
      })}
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, ea
      harum necessitatibus nesciunt porro voluptatum!
    </h5>
  </div>
</section>
