---
import { sectionWrapper, wrapper } from './image.css'
---
<section class={sectionWrapper}>
<div class={wrapper}>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, ea harum necessitatibus nesciunt porro voluptatum!</p>
</div>
</section>
