---
import { sectionWrapper, wrapper, menBG } from './image.css'
import { textSprinkles } from '../../../styles/recipe/textSprinkles.css'
import { textRecipe } from '../../../styles/recipe/textRecipe.css'
import { getImage } from 'astro:assets'
import men from '@/assets/men.jpg'
const optimizedBackground = await getImage({
  src: men,
  format: 'avif',
})

import { assignInlineVars } from '@vanilla-extract/dynamic'
---

<section class={sectionWrapper}>
  <div
    class={wrapper}
    style={assignInlineVars({
      [menBG]: `url(${optimizedBackground.src})`,
    })}
  >
    <p class={textRecipe({ font: "preTitle", textAlign: "center" })}>
      Visiter La clinique
    </p>
    <h5
      class={textSprinkles({
        fontSize: "lg",
        paddingInline: "lg",
        fontWeight: "bold",
        color: "primary",
        letterSpacing: "wide",
        textAlign: "center",
        fontFamily: "dancingScript",
      })}
    >
      Une clinique moderne avec les derniers equipements pour des soins de
      qualité et moins invasif
    </h5>
  </div>
</section>
