---
interface Props {
  title: string
  link: string
}
const { title, link } = Astro.props
import { buttonCallToAction, buttonCallToAction_icon } from './button.css'
---

<button
  class={buttonCallToAction}
  type="button"
  aria-label="rendez-vous"
  tabindex="0"
  >
  <a href={link}>{title}</a>
  <span class={buttonCallToAction_icon}>↑</span>
</button>
