---
import {oui, oui2} from './index.css'
import {textRecipe as R} from '../../styles/recipe/textRecipe.css'
import {textSprinkles as S} from '../../styles/recipe/textSprinkles.css'
import {container} from '../../styles/recipe/container.css'
---

<section
        class={container({
            background: true,
            theme: "accent",
            size: "small",
            hover: false,
        })}
>
    <p
            class={S({
                fontSize: "sm",
                color: "text",
                my: "lg",
                textDecoration: "underline",
                py: "md",
            })}
    >
        textSprinkles
    </p>

    <p class={R({font: "preTitle", textAlign: "center", marginBlock: "md"})}>
        textRecipe
    </p>

    <!--<p class={oui2}>fsdgd</p>-->
    <!--<p class={oui2}>fsdgd</p>-->
    <!--<p class={oui2}>fsdgd</p>-->
</section>
<section
        class={container({
            size: "medium",
            theme: "whiteBg",
            background: true,
            hover: false,
            paddingBlock: "xxl",
        })}
>
    <h5
            class={S({
                backgroundColor: "divider",
                color: "primary",
                fontSize: ["xl", "6xl"],
                textAlign: ["start", "center"],
                paddingBlock: "xxs",
            })}
    >
        hello darkBlue
    </h5>


    <h6
            class={R({
                font: "title",
                marginBlock: "xs",
                textAlign: "center",
                display: "inline",
            })}
    >
        RECIPE
        <span class={R({font: 'span', display: 'inline'})}>
        FDSFGDSG
      </span>
    </h6>

</section>
