---
import * as s from './hero.css'
import Banner from './banner.astro'
import Buttonn from '../../button/button.astro'
import { textSprinkles } from '@styles/index'
import { container, textRecipe, flex } from '@recipe'
---

<section class={container({ theme: "darkBlueBanner", background: true })}>
  <div class={s.wrapper}>
    <h3
      class={textRecipe({
        font: "preTitle",
        textAlign: "center",
      })}
    >
      Bienvenue au Cabinet HAYAT & BARTOLI & TIMERA
    </h3>
    <h1
      class={textSprinkles({
        color: "primary",
        fontSize: ["xl", "3xl", "4xl"],
        fontFamily: "exo",
        textAlign: "center",
        fontWeight: ["normal", "bold"],
        lineHeight: "snug",
      })}
    >
      Dentiste à Courbevoie depuis 18 ans
    </h1>

    <p
      class={textRecipe({
        font: "text",
        textAlign: "center",
        lineHeight: "loose",
      })}
    >
      La meilleure clinique de Courbevoie pour vous vous rendre le sourire que
      vous avez toujours rêvé.
    </p>
    <span class="grid place-items-center w-2xl text-white">
      <Buttonn title="Doctolib" link="http://www.doctolib.fr" />
    </span>

    <hr class={s.hr} />
    <div
      class={flex({
        direction: "row",
        gap: "md",
        side: 2,
        wrap: true,
      })}
    >
      <span>Avis Google Maps</span>
      <span>4.3</span>
      <span>basé sur 120 avis</span>
    </div>
  </div>
</section>
<Banner />
