---
import * as s from './hero.css'
import Banner from './banner.astro'
import Button from '../../button/button.astro'

import {container, textRecipe, textSprinkles} from '@recipe'
---

<section class={container({theme: "darkBlueBanner", background: true})}>
    <div class={s.wrapper}>
        <h3
                class={textRecipe({
                    font: "preTitle",
                    textAlign: "center",

                })}
        >
            welcome to dentaire
        </h3>
        <h1 class={textSprinkles({
            color: 'primary',
            fontSize: ['xl', '3xl', '4xl'],
            fontFamily: 'exo',
            textAlign: 'center', fontWeight: ['normal', 'bold'],
            lineHeight: "snug"

        })}>Dental Care for the Whole Family</h1>
        <p class={textRecipe({font: "text", textAlign: "center", lineHeight: 'loose'})}>
            It is a long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout. The point of using
            Lorem Ipsum is that it has a more-or-less normal
        </p>

        <Button title="Prendre rdv" link="http://www.google.fr"/>

        <hr class={s.hr}/>
        <div class="flex gap-5">
            <span>Google Rating</span>
            <span>5.0</span>
            <span>based on 492 reviews</span>
        </div>
    </div>
</section>
<Banner/>
