---

import Card from './Card.astro'
import * as s from './spe.css'
---

<section class={s.wrapper}>
  <div class={s.cardsWrapper}>
    <Card
      title="hello"
      text="kfdjglfdjglfdjld  fdjl dlkjgdlf kjdlkj "
      icon="phone"
    />
    <Card
      title="hello"
      text="kfdjglfdjglfdjld  fdjl dlkjgdlf kjdlkj "
      icon="phone"
    />
    <Card
      title="hello"
      text="kfdjglfdjglfdjld  fdjl dlkjgdlf kjdlkj "
      icon="phone"
    />
    <Card
      title="hello"
      text="kfdjglfdjglfdjld  fdjl dlkjgdlf kjdlkj "
      icon="phone"
    />
  </div>
</section>
<style>


</style>
