---
// dossier 3
import Card from './Card.astro'
import * as s from './Specialisation.css'
import { containerColor } from '@styles/recipe'
---
<section class="dossier">Dossier 3 - specialisation</section>
<section class={containerColor({theme:'blueLightBg'})}>
  <div class={s.cardsWrapper}>
    <Card
      title="general dental care"
      text="We are excited to meet you and provide the best dental care for your family."
      icon="phone"
    />
    <Card
      title="dental implants"
      text="We are excited to meet you and provide the best dental care for your family."
      icon="phone"
    />
    <Card
      title="dental implants"
      text="We are excited to meet you and provide the best dental care for your family."
      icon="phone"
    />
    <Card
      title="teeth whitening"
      text="We are excited to meet you and provide the best dental care for your family."
      icon="phone"
    />
  </div>
</section>


