---
// dossier 3
import Card from './Card.astro'
import * as s from './Specialisation.css'
import { container } from '@recipe'
---

<section class="dossier">Dossier 3 - specialisation</section>
<section class={container({ theme: "blueLightBg", background: false })}>
  <div class={s.cardsWrapper}>
    <Card
      title="Soins dentaires"
      text="Prévention des caries et du tartre pour une bonne santé bucco-dentaire."
      icon="phone"
    />
    <Card
      title="Urgences dentaires"
      text="Traitement rapide pour douleurs, abcès ou accidents."
      icon="phone"
    />
    <Card
      title="Prothèses dentaires"
      text="Solutions pour restaurer votre sourire et confort."
      icon="phone"
    />
    <Card
      title="Implants dentaires"
      text="Remplacement durable pour dents manquantes."
      icon="phone"
    />
  </div>
</section>
