---
import Card from './CardVanity.astro'
import { wrapper } from './vanity.css'
---

<section class={wrapper}>
  <Card
    title="24+"
    subtitle="insurance covered"
    text="Our team loves dental trivia. Did you know that tooth enamel."
  />
  <Card
    title="2K"
    subtitle="insurance covered"
    text="Our team loves dental trivia. Did you know that tooth enamel."
  />
  <Card
    title="22K"
    subtitle="insurance covered"
    text="Our team loves dental trivia. Did you know that tooth enamel."
  />
  <Card
    title="18+"
    subtitle="insurance covered"
    text="Our team loves dental trivia. Did you know that tooth enamel."
  />
</section>
