---
import Location from "src/components/HOME/location/index.astro";
import Van from "src/components/HOME/vanityMetrics/card.tsx";
import HERO from "@/components/HOME/1-HERO/Hero.astro";
import ABOUTUS from "@/components/HOME/2-aboutUs/index.astro";
import Specialisation from "@/components/HOME/3-Specialisation/index.astro";
import Diagnostic from "@/components/HOME/Diagnosis/index.astro";
import FFG from "@/components/testExp/test.astro";
import ImageFixed from "../components/HOME/4-imageFilter/image.astro";
import Avis from "../components/HOME/Avis/index";
import How from "../components/HOME/howItWorks/index.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="mx-auto">
    <!--<HERO />-->

    <!--<ABOUTUS />-->
    <!--<Specialisation />-->
    <!--<ImageFixed />-->
    <!--<How />-->
    <!--<Avis />-->
    <!--<Van />-->
    <!--<Diagnostic />-->
    <!--<Location />-->
  </div>
</Layout>
