---
import HERO from '@/components/HOME/1-HERO/Hero.astro'
import Layout from '../layouts/Layout.astro'

import ABOUTUS from '@/components/HOME/2-aboutUs/index.astro'
import Specialisation from '@/components/HOME/3-Specialisation/index.astro'
import Diagnostic from '@/components/HOME/Diagnosis/index.astro'
import Van from 'src/components/HOME/vanityMetrics/card.tsx'
import ImageFixed from '../components/HOME/4-imageFilter/image.astro'
import FFG from "@/components/testExp/test.astro"
---

<Layout>
  <div class="mx-auto">
    <!--<FFG/>-->
    <ABOUTUS/>
    <Specialisation />
    <ImageFixed/>
    <Van/>
    <Diagnostic/>
  </div>
</Layout>
