---
import icon1 from '/home/tim/Documents/dentistLanding/src/assets/icons/icon-services-1.svg'
import icon2 from 'src/assets/icons/icon-how-it-work-2.svg'
import { Picture, Image } from 'astro:assets'
---

<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>dentist Astro</title>
</head>
<body>
<Image src={icon1} alt="A description of my image." />

</body>
</html>