.submenu {
  position: relative;
  display: inline-block;
}
@media (width > 60rem) {
  .submenu:has(.submenu_name) > .submenu_name::after {
    content: " +";
    opacity: 0.5;
  }

  .submenu:hover:has(.submenu_name) > .submenu_name::after {
    content: " -";
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu_navlink {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 180px;
  background: #fff;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 8px 24px rgba(31, 138, 192, 0.12);
  z-index: 10;
  padding: 0.5rem 0;
  transform: translateY(-10px);
  pointer-events: none;
  opacity: 0;
  transition:
    opacity 0.2s,
    transform 0.2s;
}

.submenu:hover .submenu_navlink,
.submenu:focus-within .submenu_navlink {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  background-color: #f5f5f5;
}

.submenu_navlink:has(.navlink) .navlink {
  color: oklch(68.5% 0.169 237.323);
  color: black;
}

.submenu_name {
  cursor: initial;
  font-size: 1em;

  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  color: black;
  background: none;
}

.navStyle {
  cursor: pointer;

  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  color: black;
}

@media (max-width: 768px) {
  .submenu_navlink {
    position: static;
    box-shadow: none;
    border-radius: 0;
    min-width: unset;
    width: 100%;

    background: #fff;
    flex-direction: column;
    padding: 0.5rem 0;
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }

  .submenu:hover > .submenu_navlink,
  .submenu:focus-within > .submenu_navlink {
    display: inline-flex;
    background: #f5f5f5;
    position: static;
    width: 100%;
    gap: 2rem;
  }

  .navStyle {
    width: 100%;
    box-sizing: border-box;
  }
}
