.submenu:has(.submenu_name) > span::after {
  content: "→";
}

.submenu:hover:has(.submenu_name) > .submenu_name::after {
  content: "↓";
}
/*.submenu:hover:has(.submenu_name) {*/
/*  display: inline-block;*/
/*}*/
.submenu_navlink:has(.navlink) .navlink {
  border: 2px solid #1f8ac0;
}
/*.submenu_navlink:has(.navlink) {*/
/*  display: none;*/
/*}*/
/*.submenu_name:hover:has(+ .submenu_navlink) + .submenu_navlink {*/
/*  display: block;*/
/*}*/
/*.submenu:hover:has(.submenu_navlink) .submenu_navlink {*/
/*  display: block;*/
/*}*/

.close {
  /*display: none;*/
  background-color: #555555;
}
.open {
  display: inline-flex;
  flex-direction: column;
}
