---
import { content__wrapper, text } from "./aboutUs.css";
import { textRecipe, textSprinkles } from "@recipe";
import Title from "src/components/Layout-Component/topContent.astro";
import MonIconeSVG from "src/assets/icons/check.svg";
---

<section class={content__wrapper}>
  <Title
    subtitle="À propos de nous"
    title=" Pour un sourire éclatant et une hygiène bucco-dentaire optimale."
    description="Notre cabinet dentaire s'engage à offrir des soins attentifs, adaptés à vos besoins, et à garantir un service de qualité en dentisterie générale, esthétique et spécialisée. Nous mettons tout en œuvre pour améliorer votre quotidien et préserver votre bien-être."
    PreTitle="Votre santé, notre priorité"
    gap="largeGap"
    textAlign="left"
  />
  <ul class={text.ul}>
    {
      ["Stérisation", "Expertise", "qualité", "prix"].map((el) => (
        <li class="flex gap-2 items-center capitalize">
          <MonIconeSVG width={16} height={16} />
          <p class={text.li}>{el}</p>
        </li>
      ))
    }
  </ul>
</section>
