---
import { imageVariant } from './aboutUs.css'
---

<div class={imageVariant.wrapper}>
    <div class={imageVariant.one}>a</div>
    <div class={imageVariant.two}>b</div>
    <div class={imageVariant.circle}>f</div>
</div>
