---
import { newImageGrid, newImageGrid_Wrapper } from './aboutUs.css'
---

<section class={newImageGrid_Wrapper}>
  <div class={newImageGrid.square}></div>
  <div class={newImageGrid.vertical}></div>
</section>
