---
import ImageSide from './ImageSide.astro'
import { wrapperIndex } from './aboutUs.css'
import Content from './content.astro'
import Im from './image.astro'
---


<section class={wrapperIndex}>
<!--    <Im/> old component to throw-->
    <ImageSide/>
    <Content/>
</section>



