---

import ImageSide from './ImageSide.astro'
import { wrapperIndex } from './aboutUs.css'
import Content from './content.astro'
---

<section class="dossier">Dossier 2 - aboutUs</section>
<section class={wrapperIndex}>

    <ImageSide/>
    <Content/>
</section>




