---
import ImageSide from "./ImageSide.astro";
import { wrapperIndex } from "./aboutUs.css";
import Content from "./content.astro";
import { container } from "@recipe";
import { textSprinkles } from "../../../styles/recipe/textSprinkles.css";
---

<section class={container({ theme: "blueLightBg", hover: false })}>
  <section class={wrapperIndex}>
    <ImageSide />
    <Content />
  </section>
</section>
