---
import "../styles/global.css";

import "@/styles/utils/index.ts";
import Navbar from "@/components/Layout-Component/Navbar/Navbar.astro";
import Footer from "src/components/Layout-Component/footer2/index.astro";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>dentist Astro</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
