---
import '../styles/global.css'

import 'src/styles/utils/reset.css'
import NN from ''
//import Navbar from '@/components/Layout-Component/Navbar/Navbar.astro'
import Footer from 'src/components/Layout-Component/footer2/index.astro'
import Ffr from 'src/components/Layout-Component/Navbar3/index.tsx'
//import Navbar from '@/components/Layout-Component/Navbar2/index.tsx'
import NavbarTest from '@/components/Layout-Component/Navbar3/submenu.tsx'

const obj = {
  type: 'submenu',
  name: 'IT2',
  Submenu: [
    {
      type: 'link',
      name: 'Sous-menu 1',
      link: '/sous-menu-1',
    },
    {
      type: 'link',
      name: 'Sous-menu 2',
      link: '/sous-menu-2',
    },
  ],
} satisfies SubMenuB
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>dentist Astro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--<NavbarTest {...obj} />-->
    <Ffr />
    <slot />
    <Footer />
  </body>
</html>
